
/*
*--------------------------------------------
* Author: Scienstist Akinwumi Kayode Emmanuel
* OCCUPATION: Programmer,Developer
* CEO @ KaynetPc NG LTD.
* CONTACT: +2348137414496
* MAIL: Kayodeeman01@gmail.com
* Website:___________
*--------------------------------------------
* STYLE SETTINGS BY:; SIC.AKINWUMI KAYODE
---------------------------------------------
* 
*IT HELP TO PERFECT STYLESHEET
*VEISION:0.001
---------------------------------------------
*/



/* kaynet pc official css file settings here*/

*{
	padding: 0px;
	margin: 0px;
}

//the body tag
body {
        background: #efefef;
}



.headcontainner{
	background-image: url('image/back.jpg');	 
	background-size: 100% 100%;
	width: 100%;
	height: 100vh;
}
.menu{
	width: 100%;
	height: 100px;
}

.leftmenu{
	width: 10%;
	line-height: 80px;
	float: left;
	margin-top: 2px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 0.5px;

}
.leftmenu h4 a{
	color: white;
	text-decoration: none;
	margin-top: 2px !important; 
}
.leftmenu h4 a:hover{
	color: green;
}

/*The right menu*/
.rightmenu{	
	width: 89%;
	height: auto;
	float: right;
	margin-top: 0px
}
.rightmenu ul li{
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color: white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	
}
.rightmenu ul li:hover{
	color: green;
}
.rightmenu ul{
	margin-left: 200px;
}

.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color: white;	
}
.text h2{
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700px;
}
.text h2:hover{
	color: green;
}
.text h4{
	font-family: 'Montserrat', sans-serif;	
}

/*FOOTER*/
.footer{
	background-color: #3d3835;
	width: 100%;
	height: 150px ;
	color: #e7e8ea;
	font-family: 'Open Sans', sans-serif;
	font-size: 10PX;
	font-weight: 40PX
}
.leftfooter{
	float: left;
	width: 40%;
	height: auto;
}
#logo{
	width: 80px;
	height: 80px
	border:12px transparent !important;
	border-radius: 15px;
	display: inline-block;
}
#ceopic{
	width: 80px;
	height: 80px;
	border: 30px ;
	border-radius: 25px;
	display: inline-block;
}
.ceocontainer{
	border-style: dashed;
	border-left: 10px ;
	border-bottom: 10px;
	border-radius: 100px;
	border-color: #f52600;
}

.rightfooter{
	float: right;
	background-color: none;
	width: 60%;
}
.rightfooter h1{
	font-style: italic;
	font-style: bold;
	text-align: center;
	font-weight: 500px; 
}
.streamsection{
	text-align: center
}







